<% provide(:title, 'Article') %>
<h1>Article</h1>
<p>
  Get article on the Ruby on Rails Tutorial at the
  <a href="http://railstutorial.org/help">Rails Tutorial article page</a>.
  To get article on this sample app, see the
  <a href="http://railstutorial.org/book">Rails Tutorial book</a>.
</p>

